.footer{
    width: 100%;
    background-color: #2D2D2D;
    padding: 2em 5em !important;
    display: flex;
    .right{
        width: 50%;
        text-align: right;
        color: #ffffff;
    }
    .left{
        width: 50%;
        text-align: left;
        color: #ffffff; 
    }
}