.menu{
  width: 100vw;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  opacity: 0.9;
  position: fixed;
  z-index: 200;
  p{
    padding: 2%;
    text-align: right;

    i{
      color: white;
      font-size: 1.5em;
    }
  }
  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80%;
    li{
      list-style-type: none;
      margin-top: 0.5em;
      text-align: center;
      &:nth-child(1){
        a{
          color: rgb(255, 208, 0);

        }
      }
      a{
        text-decoration: none;
        color: white;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.79em;

      }
    }
  }
}

header.responsive {
  display: none;
  .barra {
      align-items: center;
      transition: all 0.5s ease;
      padding: 0.4em;
      color: white;
      margin-top: -0.5em;
      width: 100%;
      font-size: 1.73em;
      font-family: 'Roboto';
      background: transparent;
  
      display: none;


      .derecho {
          width: 50%;
          font-family: 'FontAwesome';
          display: flex;  
          justify-content: flex-end;
          align-content: center;
          i{
            font-style: initial;
          }
      }

      .izquierdo {
          width: 50%;
          text-align: left;
      }
  }

  .barraFixed {
      top: 0;
      transition-duration: 1s;
      display: flex;
      background: #00ccdb;
      width: 100%;
      color: white;
      z-index: 100;
      padding: 0.6em;
      font-size: 1.2em;
      font-family: 'Roboto';

      .derecho {
        width: 50%;
        font-family: 'FontAwesome';
        display: flex;  
        justify-content: flex-end;
        align-items: center;
        i{
          font-style: initial;
        }
      }

      .izquierdo {
          width: 50%;
          text-align: left;
          font-weight: 700;
      }
  }


  nav {
      width: 100%;

      display: none;
      flex-wrap: wrap;
      justify-content: flex-end;

      li {
          padding: 1%;
          font-family: "Roboto";
          list-style-type: none;

          a {
              font-family: 'Sans';
              font-size: 1.6em;
              color: white;
              font-weight: 400;
              text-decoration: none;
          }
      }
  }
}

header{

  background-color: #00ccdb;  
  .contenedor {
    nav {
      max-width: 1200px;
      margin: auto;
      display: flex;
      padding: 1em 0 1em 0;
      justify-content: flex-end;
      
      li {
        list-style-type: none;
        padding: 1%;
        
        a {
          text-decoration: none;
          color: white;
          font-family: "Open Sans";
          font-weight: 300;
          white-space: nowrap;
        }
        
        &:nth-child(5) {
          border: 1px solid white;
        }
      }
    }
  }
}

@media screen and (max-width: 750px){
  header.normal{
    display: none;
  }

  header.responsive{
    display: block;
  }
}