.location{
    font-family: "Roboto";
    font-weight: 300;
    .box{        
        width: 100%;
        position: absolute;
        margin-top: -20.5rem;
        .content{
            max-width: 350px;
            margin: auto;
            padding: 1.5em;
            background-color: #fff;
            border-radius: 4px;
            .tit{
                margin-bottom: 0.8em;
                .title{
                    color: #00CCDB;
                    text-align: left;
                    margin-left: 1.5em;
                    font-weight: bold !important;
                }
            }
            .info{
                width: 100%;
                margin-bottom: 0.8em;
                .address, .phone{
                    width: 100%;
                    display: block;
                    margin-bottom: 0.5em;
                    margin-left: 1.5em;
                    text-align: left;
                }
            }
            .line{
                width: 20% !important;
                margin-left: 1.5em;

            }
            .schedule{
                text-align: left;
                margin-left: 1.5em;
                margin-top: 0.5em;
                .text{
                    font-weight: 600;
                    margin-bottom: 0.5em;
                    .time{
                        margin-left: 0.68em;
                    }
                }
            }
        }
    }
}