section.services {
  background-color: #F8F8F8 !important;

  .contenedor {
    padding-top: 2em;
    padding-bottom: 4em;
    font-family: 'Roboto', sans-serif !important;
    text-align: center;

    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 2.2em;
    }

    button {
      margin-top: 3em;
      font-family: "Roboto";
      color: white;
      background-color: #00CCDB;
      border-color: transparent;
      padding: 0.8em 2.2em 0.8em 2.2em;
      cursor: pointer;
    }

    .padre {
      display: flex;
      margin-top: 2em;
      flex-wrap: wrap;
      padding: 1%;

      .caja {
        padding: 1.5%;
        width: 100%;
        margin: 1%;
        margin: auto;
        margin-top: 1em;
        text-align: center;
        max-width: 350px;
        border-radius: 8px;
        border: 1px solid rgba(128, 128, 128, 0.5);

        .titulo {

          h3,
          p {
            text-align: center;
            margin-top: 1em;
          }

          p {
            color: rgba(0, 0, 0, 0.589);
            line-height: 1.7;
          }
        }

        button {
          font-family: "Roboto";
          background-color: transparent;
          border-color: transparent;
          margin-top: 1em;
          color: rgb(0, 191, 255);
          position: relative;
          left: 8em;
        }
      }
    }
  }
}
