* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/*.contenedor{
    max-width: 1200px;
    margin: auto;
}*/
.contenedor {
  background-color: #00ccdb;
}

.contenedor nav {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0 1em 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contenedor nav li {
  list-style-type: none;
  padding: 1%;
}

.contenedor nav li a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
}

.contenedor nav li:nth-child(5) {
  border: 1px solid white;
}

section#services .contenedor {
  background-color: #F8F8F8 !important;
  padding-top: 2em;
  padding-bottom: 4em;
  font-family: "Open Sans";
  text-align: center;
}

section#services .contenedor h2 {
  text-align: center;
}

section#services .contenedor button {
  margin-top: 3em;
  font-family: "Open Sans";
  color: white;
  background-color: #00CCDB;
  border-color: transparent;
  padding: 0.2em 2em 0.2em 2em;
}

section#services .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#services .contenedor .padre .caja {
  padding: 1.5%;
  width: 100%;
  margin: 1%;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  max-width: 350px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

section#services .contenedor .padre .caja .titulo h3, section#services .contenedor .padre .caja .titulo p {
  text-align: center;
  margin-top: 1em;
}

section#services .contenedor .padre .caja .titulo p {
  color: rgba(0, 0, 0, 0.589);
}

section#services .contenedor .padre .caja button {
  font-family: "Open Sans";
  background-color: transparent;
  border-color: transparent;
  margin-top: 1em;
  color: deepskyblue;
  position: relative;
  left: 8em;
}

section#about .contenedor {
  background-color: white !important;
  margin-top: 5em;
}

section#about .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5em;
  padding: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about .contenedor .padre .izq {
  width: 100%;
  max-width: 600px;
  font-family: "Open Sans";
  text-align: center;
  position: relative;
  left: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -3.5em;
}

section#about .contenedor .padre .izq h2 {
  text-align: lefT;
  font-weight: 700;
}

section#about .contenedor .padre .izq p {
  margin-top: 1em;
  text-align: left;
}

section#about .contenedor .padre .der {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

section#about .contenedor .padre .der img {
  width: 100%;
  margin: auto;
  max-width: 300px;
  max-height: 350px;
}

@media screen and (max-width: 1199px) {
  section#about .contenedor .padre .izq {
    position: static;
    max-width: 1200px;
    padding: 1%;
  }
  section#about .contenedor .padre .izq h2 {
    text-align: center;
  }
  section#about .contenedor .padre .izq p {
    text-align: justify;
  }
  section#about .contenedor .padre .der {
    max-width: 1200px;
    margin-top: 1em;
  }
}

section#main {
  background-color: #00ccdb;
}

section#main .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#main .contenedor .padre .izq {
  margin-top: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 100%;
  max-width: 600px;
  color: white;
  font-family: "Open Sans";
}

section#main .contenedor .padre .izq h1, section#main .contenedor .padre .izq p {
  text-align: left;
}

section#main .contenedor .padre .izq h1 {
  font-size: 1.6em;
}

section#main .contenedor .padre .izq p {
  margin-top: 1.7em;
  font-size: 0.9em;
}

section#main .contenedor .padre .izq button {
  position: relative;
  top: 1em;
  left: -0.6em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.637);
  color: white;
  font-family: "Open Sans";
  padding: 0.5em 2em 0.5em 2em;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

section#main .contenedor .padre .izq button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

section#main .contenedor .padre .der {
  width: 100%;
  max-width: 600px;
}

section#main .contenedor .padre .der img {
  width: 100%;
}

@media screen and (max-width: 750px) {
  section#main .contenedor .padre {
    padding: 2%;
  }
  section#main .contenedor .padre .der img {
    margin-top: 2em;
  }
}

#loading {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

@-webkit-keyframes loading {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

@keyframes loading {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

#box {
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-animation: animate .5s linear infinite;
          animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@-webkit-keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

#shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  -webkit-animation: shadow .5s linear infinite;
          animation: shadow .5s linear infinite;
}

@-webkit-keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}

@keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}
/*# sourceMappingURL=style.css.map */