* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 300;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  opacity: 0.9;
  position: fixed;
  z-index: 200;
  display: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.menu p {
  padding: 2%;
  text-align: right;
}

.menu p i {
  color: white;
  font-size: 1.5em;
}

.menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.menu nav li {
  list-style-type: none;
  margin-top: 0.5em;
  text-align: center;
}

.menu nav li:nth-child(1) a {
  color: #ffd000;
}

.menu nav li a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.79em;
}

header.responsive {
  display: none;
}

header.responsive .barra {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.4em;
  color: white;
  margin-top: -0.5em;
  width: 100%;
  font-size: 1.73em;
  font-family: 'Roboto';
  background: transparent;
  display: none;
}

header.responsive .barra .derecho {
  width: 50%;
  font-family: 'FontAwesome';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

header.responsive .barra .derecho:hover {
  cursor: pointer;
  color: blue;
}

header.responsive .barra .derecho i {
  font-style: initial;
}

header.responsive .barra .izquierdo {
  width: 50%;
  text-align: left;
}

header.responsive .barraFixed {
  top: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00ccdb;
  width: 100%;
  color: white;
  z-index: 100;
  padding: 0.6em;
  font-size: 1.2em;
  font-family: 'Roboto';
}

header.responsive .barraFixed .derecho {
  width: 50%;
  font-family: 'FontAwesome';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.responsive .barraFixed .derecho i {
  font-style: initial;
}

header.responsive .barraFixed .izquierdo {
  width: 50%;
  text-align: left;
  font-weight: 700;
}

header.responsive nav {
  width: 100%;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.responsive nav li {
  padding: 1%;
  font-family: "Roboto";
  list-style-type: none;
}

header.responsive nav li a {
  font-family: 'Sans';
  font-size: 1.6em;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

header {
  background-color: #00ccdb;
}

header .contenedor nav {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0 1em 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .contenedor nav li {
  list-style-type: none;
  padding: 1%;
}

header .contenedor nav li a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  white-space: nowrap;
}

header .contenedor nav li:nth-child(5) {
  border: 1px solid white;
}

@media screen and (max-width: 750px) {
  header.normal {
    display: none;
  }
  header.responsive {
    display: block;
  }
}

section#services {
  background-color: #F8F8F8 !important;
}

section#services .contenedor {
  padding-top: 2em;
  padding-bottom: 4em;
  font-family: "Open Sans";
  text-align: center;
}

section#services .contenedor h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
}

section#services .contenedor button {
  margin-top: 3em;
  font-family: "Open Sans";
  color: white;
  background-color: #00CCDB;
  border-color: transparent;
  padding: 0.8em 2.2em 0.8em 2.2em;
  cursor: pointer;
}

section#services .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1%;
}

section#services .contenedor .padre .caja {
  padding: 1.5%;
  width: 100%;
  margin: 1%;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  max-width: 350px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

section#services .contenedor .padre .caja .titulo h3,
section#services .contenedor .padre .caja .titulo p {
  text-align: center;
  margin-top: 1em;
}

section#services .contenedor .padre .caja .titulo p {
  color: rgba(0, 0, 0, 0.589);
}

section#services .contenedor .padre .caja button {
  font-family: "Open Sans";
  background-color: transparent;
  border-color: transparent;
  margin-top: 1em;
  color: deepskyblue;
  position: relative;
  left: 8em;
}

section#about .contenedor {
  background-color: white !important;
  margin-top: 5em;
}

section#about .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5em;
  padding: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about .contenedor .padre .izq {
  width: 100%;
  max-width: 600px;
  font-family: "Open Sans";
  text-align: center;
  position: relative;
  left: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -3.5em;
}

section#about .contenedor .padre .izq h2 {
  text-align: lefT;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: -2.8em;
}

section#about .contenedor .padre .izq p {
  margin-top: 1.1em;
  text-align: left;
  max-width: 500px;
  padding: 0.8em;
}

section#about .contenedor .padre .der {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

section#about .contenedor .padre .der img {
  width: 100%;
  margin: auto;
  max-width: 350px;
  max-height: 400px;
}

@media screen and (max-width: 1199px) {
  section#about .contenedor .padre .izq {
    position: static;
    max-width: 1200px;
    padding: 1%;
  }
  section#about .contenedor .padre .izq h2 {
    text-align: center;
  }
  section#about .contenedor .padre .izq p {
    text-align: justify;
  }
  section#about .contenedor .padre .der {
    max-width: 1200px;
    margin-top: 1em;
  }
}

@media screen and (max-width: 958px) {
  section#about .contenedor {
    background-color: white !important;
    margin-top: 5em;
  }
  section#about .contenedor .padre {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#about .contenedor .padre .izq h2 {
    margin-top: 0.01em;
  }
  section#about .contenedor .padre .izq p {
    max-width: 600px;
    margin: auto;
    margin-top: 2em;
  }
  section#about .contenedor .padre .der {
    padding-bottom: 5em;
  }
}

.location {
  font-family: "Open Sans";
  font-weight: 300;
}

.location .box {
  width: 100%;
  position: absolute;
  margin-top: -20.5rem;
}

.location .box .content {
  max-width: 350px;
  margin: auto;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 4px;
}

.location .box .content .tit {
  margin-bottom: 0.8em;
}

.location .box .content .tit .title {
  color: #00CCDB;
  text-align: left;
  margin-left: 1.5em;
  font-weight: bold !important;
}

.location .box .content .info {
  width: 100%;
  margin-bottom: 0.8em;
}

.location .box .content .info .address, .location .box .content .info .phone {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  text-align: left;
}

.location .box .content .line {
  width: 20% !important;
  margin-left: 1.5em;
}

.location .box .content .schedule {
  text-align: left;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

.location .box .content .schedule .text {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.location .box .content .schedule .text .time {
  margin-left: 0.68em;
}

.curva {
  width: 100%;
  height: 16vh;
}

.curva img {
  height: 100%;
  width: 100%;
  position: relative;
  top: -0.1em;
}

section#main .contenedor {
  max-width: none;
  background-color: #00ccdb;
  z-index: 1;
}

section#main .contenedor .sub {
  max-width: 1200px;
  margin: auto;
}

section#main .contenedor .sub .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#main .contenedor .sub .padre .izq {
  margin-top: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 100%;
  max-width: 600px;
  color: white;
  font-family: "Open Sans";
}

section#main .contenedor .sub .padre .izq h1,
section#main .contenedor .sub .padre .izq p {
  text-align: left;
  padding: 0.8em;
}

section#main .contenedor .sub .padre .izq h1 {
  font-size: 1.6em;
  font-weight: 600;
}

section#main .contenedor .sub .padre .izq p {
  margin-top: 1.7em;
  font-size: 1.1em;
}

section#main .contenedor .sub .padre .izq button {
  position: relative;
  top: 1em;
  left: -0.6em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.637);
  color: white;
  font-family: "Open Sans";
  padding: 0.8em 2em 0.8em 2em;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

section#main .contenedor .sub .padre .izq button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

section#main .contenedor .sub .padre .der {
  width: 100%;
  max-width: 600px;
}

section#main .contenedor .sub .padre .der img {
  width: 100%;
}

@media screen and (max-width: 750px) {
  section#main .contenedor .padre {
    padding: 2%;
  }
  section#main .contenedor .padre .der img {
    margin-top: 2em;
  }
  section#main .contenedor .sub .padre .izq {
    margin-top: 0;
  }
}

.contact {
  width: 100%;
  margin-top: 3.6em;
}

.contact .box-father {
  max-width: 420px;
  margin: auto;
}

.contact .box-father .title {
  width: 100%;
  text-align: center;
}

.contact .box-father .title h2 {
  font-weight: bold;
  font-size: 2.2em;
}

.contact .box-father .contact-box {
  padding: 1.5em;
  margin-top: 2.2em;
  margin: 0.8em;
  -webkit-box-shadow: 0px 1px 29px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 29px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 3em;
}

.contact .box-father .contact-box form {
  width: 100%;
  text-align: center;
}

.contact .box-father .contact-box form .user {
  width: 100%;
  margin-bottom: 1.5em;
  border: none;
  padding: 0.9em 0.3em;
}

.contact .box-father .contact-box form .message {
  width: 100%;
  border: none;
  padding: 0.9em 0.3em;
}

.contact .box-father .contact-box form .btn-box {
  margin-top: 0.78em;
  width: 100%;
}

.contact .box-father .contact-box form .btn-box .send-btn {
  width: 40%;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 0.69em 1em;
  background-color: #00CCDB;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #2D2D2D;
  padding: 2em 5em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .right {
  width: 50%;
  text-align: right;
  color: #ffffff;
}

.footer .left {
  width: 50%;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .footer {
    width: 100%;
    display: block;
  }
  .footer .left, .footer .right {
    width: 100%;
    margin-bottom: 1em;
    text-align: left;
  }
}

#loading {
  background-color: #52cffb;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#52cffb), to(#0936f9));
  background-image: linear-gradient(0deg, #52cffb 0%, #0936f9 100%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.lds-hourglass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 190px;
  height: 190px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 56px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
/*# sourceMappingURL=style.css.map */